     h2{
    text-align: center;
    color: blue;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    font-family:Arial, Helvetica, sans-serif;
}
.dropend{
    text-align: center;
    box-shadow: #ccc2a4 1px 1px 1px;
    margin: 20px;
    border-radius: 15%;
    color: white;
    background-color: #0a53be;
    border-color: black;
}
h3{
    text-align: center;
    font-weight: bold;
}
ul{
list-style: none;
}
body{
    background-color: #0a53be;
}
  body {
      font-family: Arial, sans-serif;
      background-color: #f4f6f8;
  }

    .form-container {

    }

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom: 15px;
    }

    label {

      margin-bottom: 5px;
      font-weight: bold;
    }

    input {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    input:focus {
      border-color: #007BFF;
      outline: none;
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: #007BFF;
      border: none;
      color: white;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }
     body {
            font-family: Arial, sans-serif;

            width: 100%;
            height: 100%;
           background: linear-gradient(135deg, #4e73df, #1cc88a);
        }


    .form-container {
    width: 80%;
    max-width: 900px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
        align-content: center;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 20px;

}


        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-top: 10px;
            font-weight: bold;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border-radius: 4px;
            border: 1px solid #ccc;
        }

        button {
            margin-top: 15px;
            width: 100%;
            padding: 10px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
        .content{

        }
        .table{
            margin-top: 20px;
        }
        .biggie{
            text-decoration: none;
            color: black;
        }