<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/assets/styles/bootstrap/css/bootstrap.css">
       <link rel="stylesheet" href="../../static/assets/styles/main.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="container">
  <table class="table">
    <h2 class="biggie">Member list</h2>
    <thead>
      <tr>
        <th>name</th>
        <th>member number</th>
        <th>phone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>1678</td>
        <td>+254765467571</td>
        <td>johndi@gmail.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>1789</td>
        <td>+254755345123</td>
        <td>marykimani@gmail.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>1567</td>
        <td>+254168954032</td>
        <td>julyatieno@gmail.com</td>
      </tr>
    <tr>
      <td>Kimathi</td>
      <td>1675</td>
      <td>+254786543456</td>
      <td>j.kimathi@gmail.com</td>
    </tr>
    <tr>
      <td>Danna</td>
      <td>1674</td>
      <td>+254767543245</td>
      <td>dannam@gmail.com</td>
    </tr>
    <tr>
      <td>Lucas</td>
      <td>1576</td>
      <td>+254781767865</td>
      <td>mainal@gmail.com</td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>